<h1>らく〜にっぽう</h1>

<section>
  <h2>サービス紹介</h2>
  <p>このサービスでは、らく〜に日報を作成・管理できます。</p>
</section>

<nav>
  <%= link_to '日報を書く', new_daily_report_path %>
  <%= link_to '日報を読む', daily_reports_path %>
</nav>
